body {
    margin: 0;
    overflow: hidden;
    

/* overflow-x: hidden;
background-image: url(/img/new.jpeg) opacity(0.7); 
background-size: cover;
background-repeat: no-repeat;
background-attachment: fixed; */


}

.navbar{
    display: flex;
    padding: 10px;
    justify-content: space-between;
    align-items: center;
    height: 80px;
}
.links{
    list-style: none;
    display: flex;
    align-items: center;
    margin-top: 25px;

}
.links li{
    font-size: 17px;
    padding: 0 40px;
    a{
        text-decoration: none;
        color: white;

    }

}
.links button{
    width: 90px;
    height: 35.39px;
    border-radius: 15px;
    color: rgb(128, 212, 17);
    font-weight: bold;
    background: linear-gradient(
      to right, rgb(8, 8, 8),rgb(12, 80, 43),rgb(12, 80, 43),rgb(30, 31, 29)
    );
}
.navbar div img{
    width: 70px;
    height: 70px;
    border-radius: 50%;
    object-fit: cover;
    margin-left: 0px;
    border: 2px solid white;
}
main{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60vh;
}
.content{
    width: 60%;
    margin-left: 30px;
}
.image{
    width: 40%;
    object-fit:fill;
    overflow-x: hidden;
    z-index: -1;
    
    
}
.social-links {
    margin-top: 20px;
    display: flex;
  }
.social-links a {
    font-size: 30px;
    display: flex;
    justify-content: center;
    background-color: white;
    text-decoration: none;
    align-items: center;
    background: rgba(255, 255, 255, 0.1);
    color: #fff;
    line-height: 1;
    margin-right: 25px;
    border-radius: 50%;
    width: 50px;
    height: 50px;
  }
  .social-links a:hover {
    background: #15794f;
    color: #fff;
    text-decoration: none;
  }
  
.image img{
    width: 100%;
    height: 100%;
    margin-top: 10px;
    zoom: 610%;
    /* zoom: calc(100% + 100%); */
    position: relative;
    object-fit: cover;
    overflow: hidden;
    filter: brightness(0.8);
    opacity: 0.99;
    z-index: -1;
    margin-right: 0px;
}
#hello {
font-size: 40px;
margin-top: 30px;
color: rgb(9, 156, 100);
font-family:  "Stoke", serif;
font-weight: 600;

}
#name {
font-family: "Stoke", serif;
font-size: 48px;
color: white;
}
#job-title {
margin-top: -30px;
font-size: 32px;
color: white;
font-family: "Kaisei Decol", serif;
} 
.bg img {
position: absolute;
width: 100%;
height: 100%;
object-fit: cover;
overflow-x: hidden;

filter: brightness(0.8);
opacity: 0.99;
z-index: -1;
}

.navbar i {
    display: none;
    color: white;
    font-size: 1.5rem;
    cursor: pointer;
    
  }
  @media screen and (min-width:0) and (max-width:320px) {
    #hello {
        font-size: 30px;
    }
    #name {
        font-size: 38px;
    }
    #job-title {
        font-size: 22px;
    }
    .image{
        img{
            display: none;
        }
    }
    .social-links a {
        font-size: 20px;
        width: 40px;
        height: 40px;
        border-radius: 50%;
    }
    .links {
        display: none;
        
    }
    .navbar i {
      display: block;
      margin-top: 0px;
      margin-right: 30px;
      
  }
    .menu-panel.active {
        right: 0;
      }
    
    
  }
  @media screen and (min-width:321px) and (max-width:375px) {
    #hello {
      font-size: 40px;
      margin-top: 90px;
  }
  #name {
      font-size: 45px;
  }
  #job-title {
      font-size: 29px;
  }
    
    .social-links a {
      font-size: 25px;
      width: 40px;
      height: 40px;
      border-radius: 50%;
  }
  .image{
    img{
        display: none;
    }
}
    
    .links {
        display: none;
        
    }
    .navbar i {
      display: block;
      margin-top: 0px;
      margin-right: 40px;
      
  }
    .menu-panel.active {
        right: 0;
      }
  }
  @media screen and (min-width:376px) and (max-width:425px) {
    #hello {
      font-size: 40px;
      margin-top: 90px;
  }
  #name {
      font-size: 48px;
  }
  #job-title {
      font-size: 32px;
  }
    
    .social-links a {
      font-size: 30px;
      width: 45px;
      height: 45px;
      border-radius: 50%;
  }
  .image{
    img{
        display: none;
    }
}
    
    .links {
        display: none;
        
    }
    .navbar i {
      display: block;
      margin-top: 0px;
      margin-right: 40px;
      
  }
    .menu-panel.active {
        right: 0;
      }
  }
  @media screen and (min-width:426px) and (max-width:768px) {
    #hello {
      font-size: 40px;
      margin-top: 90px;
  }
  #name {
      font-size: 48px;
  }
  #job-title {
      font-size: 32px;
  }
  .bg img {
    position: absolute;
    width: 100%;
  }
    .image{
        width: 100%;
        img{
            zoom: 700%;
        }
    }
    .social-links a {
      font-size: 30px;
      width: 45px;
      height: 45px;
      border-radius: 50%;
  }
    
    .links {
        display: none;
        
    }
    .navbar i {
      display: block;
      margin-top: -10px;
      margin-right: 40px;
      
  }
    .menu-panel.active {
        right: 0;
      }
  }
  @media screen and (min-width:769px) and (max-width:1024px) {
    .image{
        width: 50%;
        img{
            zoom: 500%;
        }
    }
  }
  @media screen and (min-width:1025px) and (max-width:1440px) {
    #hello {
      font-size: 50px;
      margin-top: 90px;
  }
  #name {
      font-size: 58px;
  }
  #job-title {
      font-size: 42px;
  }
    .image{
        width: 40%;
        
    }
    .links a{
      font-size: 20px;
    }
    .links button{
      font-size: 16px;}
    .social-links a {
      font-size: 35px;
      width: 60px;
      height: 60px;
      border-radius: 50%;
  }
  }
  .menu-panel {
    position: fixed;
    background-color: rgb(0, 0, 0);
    width: 300px;
    height: 100%;
    top: 0;
    right: -100%;
    transition: right 0.4s ease;

    & li {
      margin-left: 20px;
    }
  }
  .menu-panel ul {
    list-style: none;
    margin-top: 60px;
  }
  .menu-panel ul li {
    margin-top: 30px;
    button{
    width: 90px;
    height: 35.39px;
    border-radius: 15px;
    color: rgb(128, 212, 17);
    font-weight: bold;
    background: linear-gradient(
      to right, rgb(8, 8, 8),rgb(12, 80, 43),rgb(12, 80, 43),rgb(30, 31, 29)
    );
    }
  }

  .menu-panel ul li a {
    color: white;
    text-decoration: none;
    font-size: 1.2rem;
  }
  
  .close-btn {
    background-color: transparent;
    color: white;
    border: none;
    font-size: 2rem;
    cursor: pointer;
    position: absolute;
    top: 10px;
    right: 20px;
  }